<%- include("./partials/header.ejs") -%>
    <div class="container-sm">
        <h1 class="abtHeading"><strong>Daily Scribe</strong></h1>
        <p style="padding-bottom: 20px;">Your daily dose of anonymous expression!</p>
        <p class="abtPara">At Daily Scribe, we believe that everyone has a story worth sharing, but we also understand
            the importance of
            privacy and anonymity. Our platform is designed to provide a safe space where individuals can express
            themselves freely, without the fear of judgment or exposure. Whether you're looking to vent, reflect, or
            simply document your daily experiences, Daily Scribe is here to empower you.</p>
        <p class="abtPara">With Daily Scribe, you can write about anything that happened to you on any given day,
            without the need to reveal your true identity. Pour out your thoughts, emotions, and stories onto our
            virtual pages, knowing that your words will remain confidential. </p>
        <p class="abtPara">Whether you're seeking a therapeutic outlet, a space to record memories, or a chance to
            explore your creativity, Daily Scribe is here to accompany you on your journey. Embrace the freedom to
            express yourself authentically and anonymously, as you contribute to the rich tapestry of human experiences.
        </p>
        <p class="abtPara">Ready to start your anonymous writing journey? Sign up for Daily Scribe today and unlock the
            power of your voice!</p>
        <form class="abtForm" method="get" action="/compose">
            <button class="btn btn-outline-dark abtButton" type="submit">WRITE YOUR STORY!</button>
        </form>
    </div>
    <%- include("./partials/footer") -%>