<%- include("./partials/header.ejs") -%>
<div class="container-sm my-5">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
        <h1 class="text-body-emphasis">Successfully Registered!</h1>
        <p class="col-lg-6 mx-auto mb-4">
            Thank you for successfully registering for our newsletter! Get ready to receive exciting updates and
            exclusive offers directly in your inbox.
        </p>
        <form action="/" method="get">
            <button class="btn btn-success px-5 mb-5" type="submit">
                Go to HomePage
            </button>
        </form>
    </div>
    </div>
</div>
<%- include("./partials/footer") -%>